<!doctype html>
<%- include('./_includes/head.ejs') %>
<%- include('./_includes/header.ejs') %>

<main>
  <section>
    <article>
      <h2>Heading 1</h2>
      <p id="data_eyecolor">
        <ul>
          <% colors.forEach((color)=> { %>
          <li><%- color %></li>
          <% }) %>
        </ul>
      </p>
    </article>
    <article>
      <h2>Heading 2</h2>
      <p>tekstje</p>
    </article>
  </section>
</main>

<%- include('./_includes/foot.ejs') %>
