<section id="test1" class="product">
  <div class="flex-item">
    <h2>Test</h2>
    <ul>
      <li>test1</li>
      <li>test2</li>
      <li>test3</li>
      <li>test4</li>
    </ul>
    <picture>
      <%- product_image1 %>
    </picture>
  </div>
</section>
