/* BASE */
html {
  max-width: 100vw;
}

body {
  font-family: sans-serif;
  background-image: radial-gradient(#ece0ec 10%, transparent 0);
  background-size: 20px 20px;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
}

nav {
  margin-bottom: 1rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: $border-radius;
}

nav ul li {
  padding: 0.2rem;
  border-bottom: 3px solid #754575;
  margin-bottom: 0;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

ol {
  list-style: decimal;
}

main {
  width: 85vw;
  align-self: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 6px;
  background: #fefefe;
  box-shadow: inset 6px 6px 9px #f1f1f1, inset -6px -6px 9px #ffffff;
  margin-bottom: 2rem;
}

article {
  margin-bottom: 0.5rem;
}

span {}

blockquote {}

img {}
/* LAYOUT */
.backToTop {
  align-self: center;
  text-align: center;
}
/* SIZING */
/* STATE */
/* THEME */
