/* VARIABLES */
$baseline: 1.2rem;

$minScreen: 20rem;
$maxScreen: 50rem;
$minFont: .8rem;
$maxFont: 2rem;

$h1: 1.8rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1rem;
$h5: .875rem;
$h6: .75rem;
$p: 0.6rem;
$footer: 0.5rem;

$border-radius: 5px;

$pink: #ece0ec;
$purple: #754575;
$lilac: #b582b5;
$light-grey: #f1f1f1;
$lavender: #E6E6FA;
$palevioletred: #DB7093;
$verylightpink:	#FFB6C1;
$lightpink: #ff9dab;
