/* VARIABLES */
$violet-1: rgba(91, 46, 114, 1);
$violet-2: rgba(134, 99, 120, 1);
$violet-3: rgba(107, 80, 148, 1);
$violet-4: rgba(0, 0, 13, 1);
$violet-5: rgba(34, 0, 40, 1);
$sunrise-1: rgba(99,120,137, 1);
$sunrise-2: rgba(166,155,135, 1);
$sunrise-3: rgba(133,153,166, 1);
$sunrise-4: rgba(139,144,140, 1);
$sunrise-5: rgba(242,230,206, 1);
$purple-passion-1: rgba(240,240,240, 1);
$purple-passion-2: rgba(112,102,127, 1);
$purple-passion-3: rgba(205,205,205, 1);
$purple-passion-4: rgba(103,86,127, 1);
$purple-passion-5: rgba(180,163,204, 1);
$touch-of-violet-1: rgba(187,128,212, 1);
$touch-of-violet-2: rgba(158,104,202, 1);
$touch-of-violet-3: rgba(228,206,242, 1);
$touch-of-violet-4: rgba(121,66,185, 1);
$touch-of-violet-5: rgba(161,107,203, 1);
$purple-mint-1: rgba(221, 248, 232, 1);
$purple-mint-2: rgba(205, 213, 209, 1);
$purple-mint-3: rgba(180, 166, 171, 1);
$purple-mint-4: rgba(148, 110, 131, 1);
$purple-mint-5: rgba(97, 80, 85, 1);
$dusty-violet-1: rgba(217,201,195, 1);
$dusty-violet-2: rgba(227,208,204, 1);
$dusty-violet-3: rgba(204,204,204, 1);
$dusty-violet-4: rgba(227,204,216, 1);
$dusty-violet-5: rgba(217,195,217, 1);

$baseline: 1.2rem;

$minScreen: 20rem;
$maxScreen: 50rem;
$minFont: .8rem;
$maxFont: 2rem;

$h1: 1.8rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1rem;
$h5: .875rem;
$h6: .75rem;
$p: 0.6rem;

$border-radius: 5px;
