/* BASE */

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

body {
}

header {
}

main {
}

section {
}

article {
}

span {
}

blockquote {
}

h1 {
}

h2 {
}

h3 {
}

p {
}

img {
}

/* LAYOUT */
.background {
  background-color: black;
  height: 100%;
  width: 100%;
}

/* MODULES */
.class {
}

/* STATE */
article:hover {
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* THEME */
.class {
}

input[type="checkbox"] {
}
