---
layout: _base.html
title: Functional Programming
---
<section>
  <article>
    <h2>Eyecolors</h2>
    <p>Cleaned by removing whitespace, adding a hashtag, matching text-inputs to the correct hex, converting rgb-inputs to hex and making everything uppercase. </p>
    <ul class="eyeColorList">
      {% for eyeColor in eyeColors %}
      {{ eyeColor.eyeColor | safe }}
      {% else %}
      <li>This would display if the 'eyeColors'-collection were empty</li>
      {% endfor %}
    </ul>
  </article>
  <article>
    <h2>Favorite colors</h2>
    <p>Cleaned by doing the same as above, by making every function functional! </p>
    <ul class="eyeColorList">
      {% for favoriteColor in favoriteColors %}
      {{ favoriteColor.favoriteColor | safe }}
      {% else %}
      <li>This would display if the 'favoriteColors'-collection were empty</li>
      {% endfor %}
    </ul>
  </article>
  <article>
    <h2>Bedroom sizes</h2>
    <p>Cleaned by removing whitespace and converting ',' to '.'</p>
    <ul class="bedroomSizes">
      {% for bedroomSize in bedroomSizes %}
      {{ bedroomSize.bedroomSize | safe }}
      {% else %}
      <li>This would display if the 'bedroomSize'-collection were empty</li>
      {% endfor %}
    </ul>
  </article>
</section>
